* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter";
  background-color: hsl(0, 0%, 8%);
}

.container {
  width: 320px;
  background-color: hsl(0, 0%, 20%);
  padding: 24px;
  border-radius: 8px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 6px;
}

.info-name {
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 24px;
  margin-bottom: 6px;
}

.info-country {
  color: hsl(75, 94%, 57%);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 16px;
}

.info-quote {
  color: hsl(0, 0%, 70%);
  font-size: 12px;
  margin-bottom: 8px;
}

.social {
  color: hsl(0, 0%, 100%);
  padding: 12px 64px;
  text-align: center;
  margin: 0 0 10px;
  background-color: hsl(0, 0%, 30%);
  border-radius: 8px;
  font-size: 14px;
}

.social:hover{
      color: hsl(0, 0%, 8%);
      background-color: hsl(75, 94%, 57%);
      cursor: pointer;
      font-weight: bold;
}
